.approved {
    color: green;
}

.pending_approver {
    font-weight: bold;
}

.future_approver {

}

.not_approved {
    color: red;
}

.total {
    font-weight: bold;
    color: #363;
}

.arrow {
    font-weight: bold;
    font-size: 2.0em;
}

table {
    text-align: center;
    margin: 0 auto;
}

p {
    text-align: center;
    margin: 0 auto;
}

button {
    text-align: center;
    margin: 0 auto;
}